/* Mise en page du contenu pricipal*/
main{
	padding-top: 40px;
}
@media all and (min-width: 768px){
	main.shrinked{
		padding: 10px;
		padding-left: 210px;
	}
}

.text-default{
	color: #212529!important;
}

/* Mise en page de la barre de navigation*/
#mainNavigation{
	width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	background-color: white;
}
button.navigation-open{
	position: absolute;
	top: 8px;
	left: 4px;
	z-index: 19;
}
/* Menu principal*/
#mainMenu{
	margin-top: 20px;
}
#mainMenu ul{
	list-style: none;
	padding-left: 10px;
}
#mainMenu a{
	color: grey;
}
#mainMenu .menu-title{
	font-size: 18px;
}
#mainMenu .menu-content{
	font-size: 14px;
	padding-left: 10px;
}
/* Style JQuery UI Autocomplete */
ul.typeahead.dropdown-menu {
	max-height: 200px;
	overflow: auto;
}


/*Effets hover*/
.hover{
	transition: .2s ease-in-out;
}
.hover-up:hover{
	cursor: pointer;
	transform: translateY(-5px);
}


/*Message de validation */
.validation_message{
	position: absolute;
	left: calc(50% + 100px);
	transform: translateX(-50%);
	animation: 3s validationAnimation forwards;
	z-index: 100;
}

@keyframes validationAnimation {
	0%{
		top: -60px;
	}
	20%{
		top: 30px;
	}
	80%{
		top: 30px;
	}
	to{
		top: -60px;
	}
}


.card{
	position: relative;
}
.link-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-group.required label:after{
	content:"*";
	color: red;
	display: inline-block;
	margin-left: 10px;
}

/** Full calendar **/

.fc-h-event {
	color: #FFF;
	background-color: #337ab7;
}

/** FIN Full calendar **/
