/* Mise en page du contenu pricipal*/
main{
	padding-top: 40px;
}
@media all and (min-width: 768px){
	main.shrinked{
		padding: 10px;
		padding-left: 210px;
	}
}

.text-default{
	color: #212529!important;
}

/* Mise en page de la barre de navigation*/
#mainNavigation{
	width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	background-color: white;
}
button.navigation-open{
	position: absolute;
	top: 8px;
	left: 4px;
	z-index: 19;
}
/* Menu principal*/
#mainMenu{
	margin-top: 20px;
}
#mainMenu ul{
	list-style: none;
	padding-left: 10px;
}
#mainMenu a{
	color: grey;
}
#mainMenu .menu-title{
	font-size: 18px;
}
#mainMenu .menu-content{
	font-size: 14px;
	padding-left: 10px;
}
/* Style JQuery UI Autocomplete */
ul.typeahead.dropdown-menu {
	max-height: 200px;
	overflow: auto;
}


/*Effets hover*/
.hover{
	transition: .2s ease-in-out;
}
.hover-up:hover{
	cursor: pointer;
	transform: translateY(-5px);
}


/*Message de validation */
.validation_message{
	position: absolute;
	left: calc(50% + 100px);
	transform: translateX(-50%);
	animation: 3s validationAnimation forwards;
	z-index: 100;
}

@keyframes validationAnimation {
	0%{
		top: -60px;
	}
	20%{
		top: 30px;
	}
	80%{
		top: 30px;
	}
	to{
		top: -60px;
	}
}


.card{
	position: relative;
}
.link-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-group.required label:after{
	content:"*";
	color: red;
	display: inline-block;
	margin-left: 10px;
}

/** Full calendar **/

.fc-h-event {
	color: #FFF;
	background-color: #337ab7;
}

/** FIN Full calendar **/



/*
CREATION DES BIENS
*/

#description{
	height: 124px;
	overflow: auto;
	resize: none;
}

.card.tab:not(#tab-1){
	display: none;
}

.energyScale,
.gasScale{
	display: flex;
	list-style: none;
	padding-left: 0px;
}

.energyScale li,
.gasScale li {
	padding: 4px 10px;
	transition: .2s ease-in-out;
}

.energyScale li.selected,
.gasScale li.selected {
	transform: scale(1.4);
	border-radius: 5px;
	border: 2px solid white;
}

.energyScale li:nth-child(1){
	color : white;
	background-color: #379932;
}
.energyScale li:nth-child(2){
	color : white;
	background-color: #3acc31;
}
.energyScale li:nth-child(3){
	color : black;
	background-color: #cdfd33;
}
.energyScale li:nth-child(4){
	color : black;
	background-color: #fbea49;
}
.energyScale li:nth-child(5){
	color : black;
	background-color: #fccc2f;
}
.energyScale li:nth-child(6){
	color : white;
	background-color: #fb9c34;
}
.energyScale li:nth-child(7){
	color : white;
	background-color: #fa1c1f;
}
.energyScale li:nth-child(8){
	color : black;
	background-color: #eeeeee;
}


.gasScale li:nth-child(1){
	color : white;
	background-color: #f6edfe;
}
.gasScale li:nth-child(2){
	color : white;
	background-color: #e4c7fb;
}
.gasScale li:nth-child(3){
	color : black;
	background-color: #d2adf1;
}
.gasScale li:nth-child(4){
	color : black;
	background-color: #c99aef;
}
.gasScale li:nth-child(5){
	color : black;
	background-color: #b77ae9;
}
.gasScale li:nth-child(6){
	color : white;
	background-color: #a659e9;
}
.gasScale li:nth-child(7){
	color : white;
	background-color: #8835d9;
}
.gasScale li:nth-child(8){
	color : black;
	background-color: #eeeeee;
}


#image-preview,
#facilities-list{
	height: 400px;
	overflow: auto;
}

.thumbnail-image{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
}


/*
FIN DE CREATION DES BIENS
*/


.form-error{
	position: absolute;
	color: crimson;
	font-size: 12px;
	pointer-events: none;
	white-space: nowrap;
	bottom: 0;
}
.form-error:before{
	font-family: "Font Awesome 5 Free"; font-weight: 900;
	content:"\f071";
	position: relative;
	bottom: 1px;
	margin-right: 2px;

}


.brand img{
	width: 80px;
}
.brand span{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
	transform: scaleY(2) translateY(-2px);
}

.background{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	background-image: url('../../img/background.jpg');
	background-size: cover;
}
.background-filter{
	background-color: white;
	opacity: .9;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -99;
}


.breadcrumb{
	background-color: transparent;
	font-size: 1.5rem;
}
.breadcrumb .breadcrumb-item a{
	text-decoration: none;
}
.breadcrumb h1{
	display: inline;
	font-size: 1.5rem;
}
